.hero-wrapper {
  height: 100svh;
}

.nav {
  padding-block: 1rem;
}

.nav__list {
  max-width: max-content;
  margin-inline: auto;
  display: flex;
  gap: 1rem;
}

.nav__link {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.hero {
  margin-block: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__img-wrapper {
  max-width: 24rem;
}

.hero__info {
  text-align: center;
}